/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 95%;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #757474;
}

.search-form {
  border-radius: 5px;
}

.input {
  width: 80px;
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(69, 57, 110);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #0f19d6;
  transition: background-color 300ms linear;
}
